<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chelo student</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
<!--<p th:text="${showGroup.getId()}"></p>-->
<!--<p th:text="${showGroup.getGroupName()}"></p>-->
<!--<p th:text="${showGroup.getDateOfStart()}"></p>-->
<!--<p th:text="${showGroup.getDateOfFinish()}"></p>-->

<!--<a th:href="@{/groupHtml/{id}/edit(id=${showGroup.getId()})}">Edit</a>-->

<!--<form th:method="DELETE" th:action="@{/groupHtml/{id}(id=${showGroup.getId()})}">-->
<!--    <input type="submit" value="Delete"/>-->
<!--</form>-->
<table class="table caption-top">
    <caption>List of users</caption>
    <thead>
    <tr>
        <th scope="col">ID:</th>
        <th scope="col">NAME:</th>
        <th scope="col">Email:</th>
        <th scope="col">Last name:</th>
        <th scope="col">Study format:</th>
        <th scope="col">Group id:</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th th:text="${showStudent.getId()}"></th>
        <td th:text="${showStudent.getFirstName()}"></td>
        <td th:text="${showStudent.getEmail()}"></td>
        <td th:text="${showStudent.getLastName()}"></td>
        <td th:text="${showStudent.getStudyFormat()}"></td>
        <td th:text="${showStudent.getGroup()}"></td>
    </tr>
    </tbody>
</table>
<h1 style="width: 50px;height: 40px">
    <a th:href="@{/student/{id}/update(id=${showStudent.getId()})}"><button style="background-color: blue;color: beige">UPDATE!</button></a>
</h1>
<h2 style="width: 100px;height: 100px;margin-left: 1500px">
    <form th:method="DELETE" th:action="@{/student/{id}(id=${showStudent.getId()})}">
        <input style="background-color: red;color: beige" type="submit" value="Delete"/>
    </form>
</h2>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>