<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vse teacher</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
<!--<div style="margin-top: 10px;margin-left: 100px" th:each="teacher : ${comteacher}" >-->
<!--    <a style="color: black" th:href="@{/teacher/{id}(id=${teacher.getId()})}"-->
<!--       th:text="${teacher.getId() + ' , ' + teacher.getFirstName()  + ' , ' + teacher.getEmail() + ' , ' + teacher.getLastName()}">user</a>-->
<!--</div>-->
<!--<br/>-->
<!--<hr/>-->
<!--<h2 style="width: 300px; height: 300px">-->
<!--<a  style="margin-left: 25px"  href="/teacher/add"><button style="background-color:darkblue;color: beige">+add</button></a>-->
<!--</h2>-->

<table class="table">
    <thead>
    <tr>
        <th scope="col">#:</th>
        <th scope="col">NAME</th>
        <th scope="col">Email</th>
        <th scope="col">Last name</th>
        <th scope="col">Course id</th>
        <th scope="col"> <a  style="margin-left: 20px" href="/teacher/add"><button style="background-color:blue;color: beige">+add</button></a></th>
        <br>
    </tr>
    </thead>
    <tbody>

    <a th:each="teacher : ${comteacher}">
        <tr>
            <th th:text="${teacher.getId()}"></th>
            <td ><a th:href="@{/teacher/getTeacher/{id}(id=${teacher.getId()})}" th:text="${teacher.getFirstName()}"></a></td>
            <td th:text="${teacher.getEmail()}"></td>
            <td th:text="${teacher.getLastName()}"></td>
            <td th:text="${teacher.getCourse().getId()}"></td>
    </a>
    </tr>
    </tbody>
</table>


<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>